@model IEnumerable<BTLWebKhaoSat.Models.Survey>

<h2>All Surveys</h2>
<table class="table">
    @foreach (var survey in Model)
    {
        <tr>
            <td>@survey.Title</td>
            <td>
                <a href="/Survey/AnswerSurvey/@survey.SurveyId">Answer</a>
                @if (Context.Session.GetString("RoleId") == "1")
                {
                    <form asp-controller="Survey" asp-action="Delete" asp-route-id="@survey.SurveyId" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this survey?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
